doctype html
html
    head
        link(rel="stylesheet", href="css/reveal.css")
        link(rel="stylesheet", href="css/theme/white.css")
    body
        div.reveal
            div.slides
                section Slide 1
                section Slide 2
        script(src="js/reveal.js")
        script.
            Reveal.initialize();
